/* SOMMAIRE */
/* ----POLICE-----
----GENERAL-----
----COULEUR-----
----NAV HEADER----
----MEDIAQUERIES----- */


/* POLICE */
@font-face{
    font-family:'CerebriSans';
    font-weight:normal;
    font-style:normal;
    font-display:swap;
    src:url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_2_0-3f7d98eb932a1bd5077483182bfd42b9ca2b187c03faec2f84ae4cc69cb9743d.eot");
    src:url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_2_0-3f7d98eb932a1bd5077483182bfd42b9ca2b187c03faec2f84ae4cc69cb9743d.eot?#iefix") format("embedded-opentype"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_2_0-e8a779d098eb21720399f02b523021639133f894cbc4ced9949c18f631b8b66b.woff2") format("woff2"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_2_0-bef329ef57115a1730d492c55cd635533a34c6dd4b573f011a1b21072ab40369.woff") format("woff"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_2_0-087c7389d2f32a67b24e2a7b7c51b7d673375f91123a12c69101cc43cb1fcd68.ttf") format("truetype")}

@font-face{
    font-family:'CerebriSans';
    font-weight:500;font-style:normal;
    font-display:swap;
    src:url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_1_0-e7f7fbe6e97cb2c3fcd8c9e7217716831a7c8dfe1f9153ea43818df0dbad07fa.eot");src:url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_1_0-e7f7fbe6e97cb2c3fcd8c9e7217716831a7c8dfe1f9153ea43818df0dbad07fa.eot?#iefix") format("embedded-opentype"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_1_0-d699142e232382e6842eb046f54e6220ead5a734d8795fcfd0d99a4e553ce2bc.woff2") format("woff2"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_1_0-e12ff8c1242ed81effccedbc2dd3c9f105d101eff3a9c83f564273cebc929dfc.woff") format("woff"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_1_0-a4cdebe5722b545a9ab29f6da75c3481f5d38d446bdba31409bab9a4d42dfac9.ttf") format("truetype")}

@font-face{
    font-family:'CerebriSans';
    font-weight:600;
    font-style:normal;
    font-display:swap;
    src:url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_3_0-ac0da2c4e9cf92a4559a49f2b96e7983341e7a77bd0979e77b86f1318012b0ad.eot");src:url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_3_0-ac0da2c4e9cf92a4559a49f2b96e7983341e7a77bd0979e77b86f1318012b0ad.eot?#iefix") format("embedded-opentype"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_3_0-7cb766c4ab802a73fdaa8fcdcba2ea5915f65aa698ec823a5649546b0137dfd3.woff2") format("woff2"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_3_0-d817c85c0fe3971df99a0a5216ac087efb6b2e1d7ea1a8c6447ca05c4bb25c51.woff") format("woff"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_3_0-64df49b8445a7a58a34a5f5e3183464297880a09bab66bbb665b32b6dfe3af93.ttf") format("truetype")}

    @font-face{
    font-family:'CerebriSans';
    font-weight:700;
    font-style:normal;
    font-display:swap;
    src:url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_0_0-f3725c06cedf5bb580fcf7f8b2ccc9e543678373fce613b3df6176f87cb4f6b7.eot");src:url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_0_0-f3725c06cedf5bb580fcf7f8b2ccc9e543678373fce613b3df6176f87cb4f6b7.eot?#iefix") format("embedded-opentype"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_0_0-1035cf8856422bbc7e9c8bca8c18a1d6d27f79983445a07b8bf4e435391c5256.woff2") format("woff2"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_0_0-bc222bb6ea0cf725052607813b5453250ff0bc996e3cbe07e85215dff4970420.woff") format("woff"),url("https://d1b747rczec55w.cloudfront.net/assets/39E68B_0_0-b6b3c6e1cf92d76d957dd27071d42b620b9613d5d393fd3218695146e3ee14c6.ttf") format("truetype")}

    @font-face {
        font-family: "Manrope";
        src: url("/assets/font/Manrope/Manrope-VariableFont_wght.ttf") format("ttf"),
       }

/* FIN POLICE */


/* GENERAL */
*,*::before,*::after{
     -webkit-box-sizing:border-box;
     box-sizing:border-box
    }

html{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
    font-family:"Manrope", "CerebriSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a { 
    text-decoration: none!important;
    color:inherit;
}

a:hover{ 
    text-decoration: none!important;
    color:inherit;
}

body{
    margin:0;
    padding:0!important;
    font-family:"CerebriSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#13151b;
    text-align:left;
    background-color:#f4f5f6
}

.bg-white{
    background-color:white !important
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
/* FIN GENERAL */


/* COULEURS */
:root{
    --primary: #706AC2;
    --secondary: #0087B6;
    --tertiary:#f2f2f2;
}

.text-violet{
    color:#706AC2;
}

.text-bleu{
    color:#0087B6;
}

.text-fonce{
    color:#2e2f5e;
}

.text-white{
    color:white;
}
/* COULEURS */


/* BOUTON */
.button-secondaire{
    border: 2px solid #706AC2 ; 
    border-radius:35px;
}

.button-tertiaire{
    border-radius:35px;
}

.main-button{
    background-color: #706AC2!important;
    border-radius:35px!important;
    color:white!important;
}

.button-footer{
    background-color: #141d2a;;
    border-radius:35px;
    display: inline-block;
    text-align: center;
    color:white!important;
}
/* FIN BOUTON */



 /* NAVIGATION    */
.fixed-top{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:1030
}

#navbar{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar-toggle{
    margin-left:15px;
    z-index:9
}
    
/* bouton burger */
.navbar-light .navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%2313151b' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler-icon{
    display:inline-block;
    width:1.5em;
    height:1.5em;
    vertical-align:middle;
    content:'';
    background:no-repeat center center;
    background-size:100% 100%
}
    
.navbar-white{
        border-color:white;
        background-color:white;
}
    
.nav-link-hover-black:hover{
    background-color:rgba(0,0,0,0.1)!important;
}

nav-link-hover-green:hover{
    background-color:red!important;
}

.navbar-color{
    border-color:white ;
    background-color:white 
}

.navbar-brand{
    display:inline-block;
    padding-top:0.3125rem;
    padding-bottom:0.3125rem;
    margin-right:1rem;
    font-size:1.25rem;
    line-height:inherit;
    white-space:nowrap
}

.navbar-brand:hover,.navbar-brand:focus{
    text-decoration:none
}
    
.navbar-brand{
    padding:0 15px
}

.navbar-light .navbar-brand{
    color:#2e3238
}
    
.navbar-light .navbar-brand:hover,.navbar-light .navbar-brand:focus{
    color:#2e3238;
}

.navbar-transparent .dropdown-toggle.border,.navbar-transparent .dropdown-toggle.carousel-control-prev,.navbar-transparent .dropdown-toggle.carousel-control-next,.navbar-transparent .dropdown-toggle.slick-arrow,.navbar-transparent .dropdown-toggle.react-tooltip{
        -webkit-box-shadow:none !important;
        box-shadow:none !important
    }
 /* FIN NAVIGATION    */


/* FOOTER */
.footer{
    min-height: 40vh;
    background-color: #141d2a;  
}

.footer ul {
    list-style-type: none;
}

.join_footer{
    top:-60px;
    position:relative;
    background: rgb(112,106,194);
    background: linear-gradient(274deg, rgba(112,106,194,1) 23%, rgba(0,135,182,1) 80%);
    height: 120px;
    box-shadow: -20px -20px 0 0 rgba(52,58,64,0.3);
}

.footer .social li a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #8186d5;
    color: #fff;}
/* FIN FOOTER */


/*MEDIA QUERIES  */
@media (max-width: 991.98px){
    .home-hero .container,.home-hero .hero{
         margin-top:14vh
    }
}

@media (max-width: 991.98px){
    .navbar-transparent{
        border-color:white !important;
        background-color:white !important
    }
}

@media (max-width: 991.98px){
    .home-hero{
        min-height:540px
    }
}

@media (min-width: 768px){
    .d-md-none{display:none !important}
    .d-md-inline{display:inline !important}
    .d-md-inline-block{display:inline-block !important}
    .d-md-block{display:block !important}
    .d-md-table{display:table !important}
    .d-md-table-row{display:table-row !important}
    .d-md-table-cell{display:table-cell !important}
    .d-md-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}
    .d-md-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}
    
}
     
@media (max-width: 991.98px){
    .navbar-nav li{
        width:60%;
    }
    .navbar-nav li a{
        width:75%;
    }

   .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 75px;}

  }

